

.redDot {
  height: 25px;
  width: 25px;
  background-color:red;
  border-radius: 50%;
  display: inline-block;
  margin:10px;
}

.greenDot {
  height: 25px;
  width: 25px;
  background-color:green;
  border-radius: 50%;
  display: inline-block;
  margin:10px;
}

.yellowDot {
  height: 25px;
  width: 25px;
  background-color:yellow;
  border-radius: 50%;
  display: inline-block;
  margin:10px;
}

.whiteDot {
  height: 25px;
  width: 25px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  margin:10px;
}

.blueDot {
  height: 25px;
  width: 25px;
  background-color:blue;
  border-radius: 50%;
  display: inline-block;
  margin:10px;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
